*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
text-align: center;
}
.card{
width: 340px;
padding: 10px;
background-color: #666161;
border-radius:8px;
text-align: center;
}
img{
width: 100%;
border-radius: 8px;
}
.phone_email_wrapper{
display: flex;
text-align: center;
justify-content: center;
/* text-align-last: left; */
}
/* .name{
text-align-last: left;
}*/
/* .address{
text-align-last: left;
} */